proyecto-06-contacts-airtable-sync/workflow/google-to-airtable.json
{
  "name": "Google Contacts to Airtable",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -304,
        0
      ],
      "id": "441fb7e9-8800-4bfb-b36c-b0f9d4532588",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "getAll",
        "returnAll": true,
        "fields": [
          "names",
          "emailAddresses",
          "phoneNumbers",
          "organizations"
        ],
        "options": {}
      },
      "type": "n8n-nodes-base.googleContacts",
      "typeVersion": 1,
      "position": [
        -64,
        0
      ],
      "id": "288e3160-30db-4a13-a6c9-1c85bc1cc5a3",
      "name": "Get many contacts",
      "credentials": {
        "googleContactsOAuth2Api": {
          "id": "JuUE22Xj8oyFgBZB",
          "name": "Google Contacts OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "authentication": "airtableOAuth2Api",
        "operation": "upsert",
        "base": {
          "__rl": true,
          "value": "appqLRLHkhLMWB3s5",
          "mode": "list",
          "cachedResultName": "Contactos ",
          "cachedResultUrl": "https://airtable.com/appqLRLHkhLMWB3s5"
        },
        "table": {
          "__rl": true,
          "value": "tblrXM5kOufnAis4T",
          "mode": "list",
          "cachedResultName": "Table 1",
          "cachedResultUrl": "https://airtable.com/appqLRLHkhLMWB3s5/tblrXM5kOufnAis4T"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Nombre": "={{ $json.names?.displayName }}",
            "Teléfono": "={{ $json.phoneNumbers?.mobile?.[0] }}",
            "Empresa": "={{ $json.organizations?.name }}",
            "Última actualización": "={{ $now.toFormat('dd/MM/yyyy HH:mm:ss') }}",
            "Email": "={{ Object.values($json.emailAddresses || {})[0]?.[0] }}"
          },
          "matchingColumns": [
            "Email"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Nombre",
              "displayName": "Nombre",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Teléfono",
              "displayName": "Teléfono",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Empresa",
              "displayName": "Empresa",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Última actualización",
              "displayName": "Última actualización",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.2,
      "position": [
        416,
        0
      ],
      "id": "fdec34dd-60d7-4412-b3cd-4d90329c2aeb",
      "name": "Create or update a record",
      "credentials": {
        "airtableOAuth2Api": {
          "id": "fgRB30cv09SC1y9q",
          "name": "Airtable OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "4e199568-1539-4aeb-9f28-0858c070cde8",
              "leftValue": "={{ Object.values($json.emailAddresses || {})[0]?.[0] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        144,
        0
      ],
      "id": "d60a26c4-cc27-4404-895d-1e287ea4b553",
      "name": "Filter"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get many contacts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many contacts": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Create or update a record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "1a6ecd61-c930-4bb9-83a7-ee925109471f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "cb28012689836221fd7a8290b41de9829c27c4707b9f1e96b5709e702e2bf102"
  },
  "nodeGroups": [],
  "id": "qmBPzlnhVLzzPeNq",
  "tags": []
}